.visualizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-weight: bold;
  font-family: "Playwrite US Modern", cursive;
}
.button-container
{
  display: flex;
  padding: 15px 20px;
  /* border: 2px solid red; */
  width:100%;
  background-color: black;
  margin-top: -1.5%;

}

.button-container h1
{
  position: relative;
  left: 3%;
  font-size: 30px;
  color: rgb(52, 179, 234);
  cursor: pointer;
  font-weight: bold;
}

.visualizer-button {
  padding: 15px 20px;
  margin: 10px;
  font-size: 16px;
  background-color: #110505;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  left: 15%;
  font-family: "Playwrite US Modern", cursive;
}
.visualizer-button:hover
{
  background-color: white;
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 1px;
  margin: auto;
  justify-content: center;
  align-items: center;
  max-height: 1570px;
}

.node {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #0f080b;
  transition: background-color 0.3s ease;
}

.node-start {
  background-color: #1ce62d;
}

.node-end {
  background-color: #f50c0c;
}

.node-wall {
  background-color: #0a0506;
}

.node-visited {
  /* background-color: #4eddf7; */
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}


.node-shortest-path {
  /* background-color: #c2fc16; */
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(253, 190, 17);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(202, 246, 82);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}

.time-taken
{
  color: rgb(238, 80, 80);
}